@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

p,
::placeholder {
  color: white;
}

.body-fondo {
  min-height: 100vh;
  width: 100%;
  background-color: black;
  position: relative;
}

.body-fondo::before {
  content: "";
  position: absolute;
  background-image: url("../img/beatles-fondo.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  opacity: 0.2;
  width: 100%;
  z-index: -1;
}

.envoltura {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "header" "buscador" "filtros" "tienda" "plataformas";
  grid-gap: 70px;
  max-width: 1100px;
  margin: auto;
  padding: 25px;
}

#header {
  grid-area: header;
}

.menu-desk {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 45%;
  cursor: pointer;
}

.carrito {
  width: 50%;
  cursor: pointer;
  opacity: 0.9;
  margin: auto;
}

.carrito:hover {
  transform: skew(5deg);
}

.buscador__input {
  grid-area: buscador;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  font-size: 1.3rem;
  color: white;
}

.tienda {
  grid-area: tienda;
}

.producto {
  padding: 1em;
  background-color: #f7f7f7;
  border-radius: 4%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 25px auto;
}

.producto:hover {
  transition: 0.15s ease-in-out;
  transform: scale(1.015);
}

.producto__album {
  font-size: 17px;
  margin: 15px 0;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.producto__precio {
  margin: 7px 0;
  font-weight: 900;
  font-size: 14px;
}

.producto__formato {
  margin: 7px 0;
  font-weight: 700;
  font-size: 14px;
}

.producto__año {
  font-weight: 500;
  font-size: 14px;
}

.producto__stock {
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin: auto;
  padding: 20px;
}

.agregar-carrito {
  display: block;
  margin: 25px 0 0 0;
  padding: 5px 25px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
}

.aside {
  grid-area: filtros;
  position: relative;
}

.filtros {
  position: sticky;
  display: block;
  top: 30px;
  left: 0;
}

.filtros__titulo {
  color: white;
  font-size: 20px;
}

.filtros__formato {
  margin: 25px 0;
  color: white;
}

.filtros__formato__input {
  margin: 15px 5px 0 0;
}

.plataformas {
  grid-area: plataformas;
}

.plataformas__spotify {
  background-color: black;
  padding: 20px;
  margin: 0;
  color: white;
}

.plataformas__deezer {
  background-color: black;
  padding: 20px;
  margin: 0;
  color: white;
}

@media screen and (min-width: 1024px) {
  .envoltura {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "header header" "buscador filtros" "tienda filtros" "plataformas plataformas";
  }
  .tienda {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }
  .producto {
    max-width: 100%;
    margin: auto;
  }
  .plataformas {
    padding: 0 25px;
  }
  .plataformas__spotify,
  .plataformas__deezer {
    float: left;
    width: 50%;
  }
}
/*# sourceMappingURL=estilos.css.map */